{% extends 'core/base.html' %}

{% block title %}
Trip | {{ trip.0 }}
{% endblock %}

{% block label %}
Trip #{{ trip.0 }}
{% endblock %}

{% block content %}

<h3>Trip Details</h3>
<div class="segment">

    <div class="segment-item">

        {% if trip.11 == 2 %}
            <div class="chip-red">
                Rejected
            </div>
        {% elif trip.11 == 3 %}
            <div class="chip-green">
                Completed
            </div>
        {% elif trip.11 == 4 %}
            <div class="chip-yellow">
                Completed & Reviewed
            </div>
        {% endif %}

        <h4>
            Cycle Model: <a href="{% url 'cycle-details-view' cycle_id=trip.1 %}">{{ trip.2 }}</a><br>
            Owner Name: <a href="{% url 'owner-details-view' owner_id=trip.3 %}">{{ trip.4 }}</a><br>
            Customer Name: <a href="{% url 'customer-details-view' customer_id=trip.5 %}">{{ trip.6 }}</a>
        </h4>

        <div class="info-text">
            Start Timestamp: {{ trip.7 }} <br>
            End Timestamp: {{ trip.8 }}
        </div>

        <div class="info-text">
            Payment Method: {{ trip.9 }} <br>
            Total Fare: BDT {{ trip.10 }}
        </div>

    </div>

</div>

{% endblock %}
