{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    Cycle | {{ cycle_id }}
{% endblock %}

{% block content %}

<div>
    <img src="{% static cycle_photo %}" class="featured-photo">
</div>

<div>
    ID: {{ cycle_id }} <br>
    Owner: <a href="{% url 'owner-public-view' owner_id=cycle_owner %}">{{ cycle_owner }}</a><br>
    Model: {{ cycle_model }} <br>
    Status: {{ cycle_status }} <br>
    Rating: {{ cycle_rating }} <br>
    Fare per day: {{ cycle_fare_per_day}} <br>
</div>

{% endblock %}