{% extends 'core/base.html' %}
{% load static %}

{% block title %}
Request Cycle | Cycloan
{% endblock %}

{% block label %}
Request Cycle
{% endblock %}

{% block content %}

<h3>When do you need this cycle?</h3>

<form action="{% url 'request-cycle-view' cycle_id=cycle.0.0 %}" method="POST">
    {% csrf_token %}

    <div class="form-row">
        <label for="start_datetime">Start Datetime</label>
        <input type="datetime-local" name="start_datetime" id="start_datetime" class="form-control">
    </div>

    <div class="form-row">
        <label for="end_datetime">End Datetime</label>
        <input type="datetime-local" name="end_datetime" id="end_datetime" class="form-control">
    </div>
    
    <div class="form-row">            
        <label for="payment_type">Payment Type</label>
        <select id="payment_type" class="form-control" name="payment_type">
            <option selected>Choose...</option>
            <option>Bkash</option>
            <option>Nagad</option>
            <option>Rocket</option>
            <option>Cash on Hand</option>
        </select>
    </div>

    <div style="height: 20px;">
    </div>

    <div class="form-row">
        <button class="btn btn-success" type="submit">Send request</button>
    </div>

</form>

<br><br><br><br>

{% endblock %}