.profile-picture {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.featured-photo {
    height: 350px;
    width: auto;
}

.message-box {
    background-color:whitesmoke;
    border-radius: 4px;
    padding: 8px;
    font-size: 16px;
}

#map {
    width: 350px;
    height: 250px;
}
