<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register as Owner | Cycloan</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<style>
    .message-box {
        background-color: whitesmoke;
        border-radius: 4px;
        padding: 8px;
        font-size: 16px;
    }

    #map {
        width: 350px;
        height: 250px;
    }
</style>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
    
<script>
    function checkPhotoSelected() {
        if (document.getElementById("photo").value == "") {
            alert("No photo selected. You must select a photo.");
            document.querySelector("#photo").value = "";
            return false;
        }
        return true;
    }

    var map; //Will contain map object.
    var marker = false; ////Has the user plotted their location marker? 

    //Function called to initialize / create the map.
    //This is called when the page has loaded.
    function initMap() {

        //The center location of our map.
        var centerOfMap = new google.maps.LatLng(52.357971, -6.516758);

        //Map options.
        var options = {
            center: centerOfMap, //Set center.
            zoom: 7 //The zoom value.
        };

        //Create the map object.
        map = new google.maps.Map(document.getElementById('map'), options);

        //Listen for any clicks on the map.
        google.maps.event.addListener(map, 'click', function (event) {
            //Get the location that the user clicked.
            var clickedLocation = event.latLng;
            //If the marker hasn't been added.
            if (marker === false) {
                //Create the marker.
                marker = new google.maps.Marker({
                    position: clickedLocation,
                    map: map,
                    draggable: true //make it draggable
                });
                //Listen for drag events!
                google.maps.event.addListener(marker, 'dragend', function (event) {
                    markerLocation();
                });
            } else {
                //Marker has already been added, so just change its location.
                marker.setPosition(clickedLocation);
            }
            //Get the marker's location.
            markerLocation();
        });
    }

    //This function will get the marker's current location and then add the lat/long
    //values to our textfields so that we can save the location.
    function markerLocation() {
        //Get location.
        var currentLocation = marker.getPosition();
        //Add lat and lng values to a field that we can save.
        document.getElementById('lat').value = currentLocation.lat(); //latitude
        document.getElementById('lng').value = currentLocation.lng(); //longitude
    }


    //Load the map when the page has finished loading.
    google.maps.event.addDomListener(window, 'load', initMap);

</script>


<body>
    <div class="container">

        <div style="margin: auto; padding-top: 120px; padding-bottom: 120px; width: 80%;">
            <h3>Register as Owner</h3>

            <form action="/owner/register/" method="POST" enctype="multipart/form-data"
                onsubmit="return checkPhotoSelected();">
                {% csrf_token %}

                {% if messages %}
                {% for message in messages %}
                <div class="message-box">{{ message }}</div>
                {% endfor %}
                {% endif %}

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="doctype">Upload Photo</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="photo"
                                aria-describedby="inputGroupFileAddon01" name="photo">
                            <label class="custom-file-label" for="photo">Choose photo</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="password_confirm">Confirm Password</label>
                        <input type="password" class="form-control" id="password_confirm" name="password_confirm">
                    </div>
                </div>

                <div class="form-group">
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="fullname">Full Name</label>
                        <input type="text" class="form-control" id="fullname" name="fullname">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="contact">Contact No.</label>
                        <input type="text" class="form-control" id="contact" name="contact">
                    </div>
                </div>

                <div>
                    <label for="map">Choose your location</label>
                    <div id="map" class="form-control"></div>
                    <input type="hidden" id="lng" readonly="yes" name="longtitude">
                    <input type="hidden" id="lat" readonly="yes" name="latitude">
                </div>
                
                <div class="form-group"></div>

                <button type="submit" class="btn btn-warning">Sign up</button>
            </form>

            <div class='form-text' style="padding-top: 10px;">
                Already have an account? <a href="/">login here</a>
            </div>

        </div>

    </div>
</body>

</html>