{% extends 'core/base.html' %}
{% load static %}

{% block title %}
Dashboard | Owner
{% endblock %}

{% block label %}
Dashboard
{% endblock %}


{% block content %}

<div class="segment">    
{% if cycle_request_list %}
<h3>Cycle Requests:</h3>
{% for cycle in cycle_request_list %}   
    <div class="segment-item">

        <div>
            <h4>Trip #{{ cycle.0 }}</h4>
        </div>
        
        <div>
            <h4>Customer Name: <a href="{% url 'customer-details-view' customer_id=cycle.1 %}">{{ cycle.2 }}</a></h4>
        </div>

        <div class="info-text">
            Schedule: {{ cycle.4 }} - {{ cycle.5 }}
        </div>

        <div class="info-text">
            Payment Type: {{ cycle.6 }}
        </div>

        <div class="info-text">
            Expected Fare: BDT {{ cycle.7 }}
        </div>
        
        <div>
            <img src="{% static cycle.3 %}" class="cycle-photo">
        </div>

        <div style="display:inline-flex; margin-top: 10px; flex:auto;">
            
            <div style="margin-right: 10px;">
                <a href="{% url 'approve-cycle-view' trip_id=cycle.0 %}"><button class="btn btn-success">Approve Request</button></a>
            </div>
            
            <div>
                <a href="{% url 'reject-cycle-view' trip_id=cycle.0 %}"><button class="btn btn-danger">Reject Request</button></a>
            </div>
        </div>

    </div>
{% endfor %}
{% else %}
<h3>You do not have any new requests at this moment.</h3>
{% endif %}
</div>


{% if ongoing_trip %}
<h3>Current Trip</h3>
<div class="segment">
    {% for trip in ongoing_trip %}
    <div class="segment-item">
        <div>
            <h4>Trip #{{ trip.0 }}</h4>
        </div>
        <div class="info-text">
            Start Datetime: {{ trip.1 }}<br>
            End Datetime: {{ trip.2 }}<br>
            Fare: BDT {{ trip.6 }}<br>
            Customer: <a href="{% url 'customer-details-view' customer_id=trip.3 %}" target="_blank">{{ trip.4 }}</a>
        </div>
        <div style="margin-top: 10px;">
            <a href="{% url 'receive-cycle-view' trip_id=trip.0 %}"><button class="btn btn-warning">End Trip</button></a>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}


{% endblock %}