{% extends 'core/base.html' %}
{% load static %}

{% block title %}
Trip History | Customer
{% endblock %}

{% block label %}
Trip History
{% endblock %}

{% block content %}

{% if trip_list %}

<div class="segment">
    {% for trip in trip_list %}
        <div class="segment-item">
            
            <div>
                <h4>Trip <a href="{% url 'trip-details-view' trip_id=trip.0 %}">#{{ trip.0 }}</a></h4>
            </div>
            <div>
                <h4>Customer <a href="{% url 'customer-details-view' customer_id=trip.2 %}">#{{ trip.2 }}</a></h4>
            </div>

            <div class="info-text">
                <b>Trip Schedule: </b>{{ trip.5 }} - {{ trip.6 }}
            </div>

            <div class="info-text">
                <b>Trip Fare: </b>BDT {{ trip.4 }}
            </div>

        </div>
    {% endfor %}
</div>

{% else %}
    <div class="segment">
        <h3>You have no trips yet.</h3>
    </div>
{% endif %}


{% endblock %}