{% extends 'core/base.html' %}
{% load static %}

{% block title %}
Owner | Dashboard
{% endblock %}

{% block label %}
Dashboard
{% endblock %}


{% block content %}

<div class="segment">    
{% if cycle_request_list %}
<h3>Cycle Requests:</h3>
{% for cycle in cycle_request_list %}   
    <div class="segment-item">

        <div>
            <h4>Trip #{{ cycle.0 }}</h4>
        </div>
        
        <div>
            <h4>Customer Name: <a href="{% url 'customer-details-view' customer_id=cycle.1 %}">{{ cycle.2 }}</a></h4>
        </div>

        <div class="info-text">
            Schedule: {{ cycle.4 }} - {{ cycle.5 }}
        </div>

        <div class="info-text">
            Payment Type: {{ cycle.6 }}
        </div>

        <div class="info-text">
            Expected Fare: BDT {{ cycle.7 }}
        </div>
        
        <div>
            <img src="{% static cycle.3 %}" class="cycle-photo">
        </div>
        
    </div>
{% endfor %}
{% else %}
<h3>You do not have any new requests at this moment.</h3>
{% endif %}
</div>


{% if ongoing_trip_list %}

    <h3>Ongoing Trips</h3>

    {% for trip in ongoing_trip_list %}
    
    TRIP ID: <div>{{ trip.0 }}</div>
    CUSTOMER ID: <div>{{ trip.1 }}</div>
    CYCLE ID: <div>{{ trip.2 }}</div>
    <a href="{% url 'receive-cycle-view' trip_id=trip.0 %}"><button>End trip</button></a>
    
    {% endfor %}

{% endif %}

{% endblock %}