<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Admin Login Page of Cycloan</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<style>

    .message-box {
        background-color:whitesmoke;
        border-radius: 4px;
        padding: 10px;
        font-size: 16px;
        font-weight: bold;
        margin: auto;
        width: 50%;
    }


</style>

<body>
    <div class="container" style="margin-top: 80px; padding: 10px;">
        {% if messages %}
            {% for message in messages %}
                <div class="message-box">{{ message }}</div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="flex-container" style="display: flex; padding-bottom: 100px;">

        <div style="min-width: 350px; margin: auto;">
            <h3>Login as Admin</h3>
            <form class="form-signin" method="POST" action="/admin/login/">
                {% csrf_token %}
                <div class="form-group">
                    <label for="admin-email">Email address</label>

                    <input type="email" class="form-control" id="admin-email" aria-describedby="emailHelp"
                        name="admin-email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                </div>
                <div class="form-group">
                    <label for="admin-password">Password</label>
                    <input type="password" class="form-control" id="admin-password" name="admin-password">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>

</body>

</html>