{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
    integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf"
    crossorigin="anonymous"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>

<script src="{% static './js/map.js' %}"></script>
<script src="{% static './js/main.js' %}"></script>
<link rel="stylesheet" href="{% static './css/android.css' %}">
<link rel="stylesheet" href="{% static './css/main.css' %}">


<body>
    <div style="display: inline-block;">
        <div class="sidenav">
            <aside class="mdc-drawer" style="background-color: whitesmoke;">

                <a class="mdc-list-item mdc-list-item--graphic" href="{% url 'index-view' %}" aria-current="page"
                    style="font-size: 20px; margin: 15px;">
                    <br>
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">pedal_bike</i>
                    <span class="mdc-list-item__text" style="font-family: Product Sans;">Cycloan</span>
                </a>

                <div class="mdc-drawer__header">
                    
                    <div class="photo-box">
                        <img src="{% static request.session.user_photo %}">
                    </div>

                    <h3 class="mdc-drawer__title">{{ request.session.user_name }}</h3>
                    <h5 class="mdc-drawer__subtitle">{{ request.session.user_email }}</h5>
                </div>

                <div class="mdc-drawer__content">
                    <nav class="mdc-list">
                        {% if request.session.user_type == 'customer' %}
                        <a class="mdc-list-item" href="{% url 'customer-dashboard-view' %}" aria-current="page">
                            <span class="mdc-list-item__ripple"></span>
                            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">dashboard</i>
                            <span class="mdc-list-item__text">Dashboard</span>
                        </a>
                        <a class="mdc-list-item" href="{% url 'customer-trip-history-view' %}">
                            <span class="mdc-list-item__ripple"></span>
                            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">history</i>
                            <span class="mdc-list-item__text">Trip History</span>
                        </a>
                        <a class="mdc-list-item" href="{% url 'customer-profile-view' %}">
                            <span class="mdc-list-item__ripple"></span>
                            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">person</i>
                            <span class="mdc-list-item__text">Profile</span>
                        </a>
                        <a class="mdc-list-item" href="{% url 'customer-logout-view' %}">
                            <span class="mdc-list-item__ripple"></span>
                            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">exit_to_app</i>
                            <span class="mdc-list-item__text">Logout</span>
                        </a>
                        {% elif request.session.user_type == 'owner' %}
                        <a class="mdc-list-item" href="{% url 'owner-dashboard-view' %}" aria-current="page">
                            <span class="mdc-list-item__ripple"></span>
                            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">dashboard</i>
                            <span class="mdc-list-item__text">Dashboard</span>
                        </a>
                        <a class="mdc-list-item" href="{% url 'owner-cycle-view' %}">
                            <span class="mdc-list-item__ripple"></span>
                            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">pedal_bike</i>
                            <span class="mdc-list-item__text">Cycles</span>
                        </a>
                        <a class="mdc-list-item" href="{% url 'owner-trip-history-view' %}">
                            <span class="mdc-list-item__ripple"></span>
                            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">history</i>
                            <span class="mdc-list-item__text">Trip History</span>
                        </a>
                        <a class="mdc-list-item" href="{% url 'owner-profile-view' %}">
                            <span class="mdc-list-item__ripple"></span>
                            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">person</i>
                            <span class="mdc-list-item__text">Profile</span>
                        </a>
                        <a class="mdc-list-item" href="{% url 'owner-logout-view' %}">
                            <span class="mdc-list-item__ripple"></span>
                            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">exit_to_app</i>
                            <span class="mdc-list-item__text">Logout</span>
                        </a>
                        {% elif request.session.user_type == 'admin' %}
                        <a class="mdc-list-item" href="{% url 'customer-list-view' %}" aria-current="page">
                            <span class="mdc-list-item__ripple"></span>
                            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">person</i>
                            <span class="mdc-list-item__text">Customer List</span>
                        </a>
                        <a class="mdc-list-item" href="{% url 'owner-list-view' %}">
                            <span class="mdc-list-item__ripple"></span>
                            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">person_outline</i>
                            <span class="mdc-list-item__text">Owner List</span>
                        </a>
                        <a class="mdc-list-item" href="{% url 'trip-list-view' %}">
                            <span class="mdc-list-item__ripple"></span>
                            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">event_note</i>
                            <span class="mdc-list-item__text">Trip List</span>
                        </a>
                        <a class="mdc-list-item" href="{% url 'cycle-list-view' %}">
                            <span class="mdc-list-item__ripple"></span>
                            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">directions_bike</i>
                            <span class="mdc-list-item__text">Cycle List</span>
                        </a>
                        <a class="mdc-list-item" href="{% url 'admin-register-view' %}">
                            <span class="mdc-list-item__ripple"></span>
                            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">person_add</i>
                            <span class="mdc-list-item__text">Add Admin</span>
                        </a>
                        <a class="mdc-list-item" href="{% url 'admin-logout-view' %}">
                            <span class="mdc-list-item__ripple"></span>
                            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">exit_to_app</i>
                            <span class="mdc-list-item__text">Logout</span>
                        </a>
                        {% endif %}
                    </nav>
                </div>
            </aside>
        </div>

        <div style="display: inline-flex; flex-direction: row;" class="main">

            <div class="main-label">
                {% block label %}
                {% endblock %}
            </div>

            <div class="main-content">
                {% if messages %} {% for message in messages %}
                <div class="message-box-{{ message.tags }}">{{ message }}</div>
                {% endfor %} {% endif %}

                {% block content %}
                {% endblock %}

                <div style="height: 100px;">
                </div>
            </div>

        </div>
    </div>


</body>



</html>