<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cycloan - Customer Login</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>

    <div class="flex-container" style="display: flex;">

        <div style="min-width: 350px; margin: auto; margin-top: 150px;">
            <h3>Login as Owner</h3>
            <form class="form-signin" method="POST" action="/owner-login/">
                {% csrf_token %}
                <div class="form-group">
                    <label for="owner-email">Email address</label>

                    <input type="email" class="form-control" id="owner-email" aria-describedby="emailHelp"
                        name="owner-email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                </div>
                <div class="form-group">
                    <label for="owner-password">Password</label>
                    <input type="password" class="form-control" id="owner-password" name="owner-password">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
                <div class='form-text'>
                    <a href="/owner-registration">Create an owner account</a>
                </div>
            </form>
        </div>

        <div style="min-width: 350px; margin: auto; margin-top: 150px; margin-left: -20px;">
            <h3>Login as Customer</h3>
            <form class="form-signin" method="POST" action="/customer-login/">
                {% csrf_token %}
                <div class="form-group">
                    <label for="customer-email">Email address</label>
                    <input type="email" class="form-control" id="customer-email" aria-describedby="emailHelp"
                        name="customer-email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                </div>
                <div class="form-group">
                    <label for="customer-password">Password</label>
                    <input type="password" class="form-control" id="customer-password" name="customer-password">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
                <div class='form-text'>
                    <a href="/customer-registration">Create a customer account</a>
                </div>
            </form>
        </div>

    </div>

</body>

</html>