<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTTP 403</title>
</head>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


<body style="background-color: #141414; color:white">
    <div style="margin: auto;">
        <div style="text-align: center; font-family: Product Sans; justify-content: center; align-items:center; transform:translateY(100%)">
            <h1 style="font-size: 80px; font-weight: bold;">
                403
            </h1>
            <h1 style="font-size: 30px;">
                FORBIDDEN CONTENT
            </h1>
            <a href="{% url 'index-view' %}">
                <button class="btn btn-danger">Country Road, Take Me Home</button>
            </a>
        </div>
    </div>
</body>
</html>