{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    Admin | Cycle List
{% endblock %}

{% block content %}
    {% for cycle in cycle_list %}
        <img src="{% static cycle.6 %}" class="profile-picture">
        <div >
            <b>ID:</b> {{ cycle.0 }}<br>
            <b>Model:</b> {{ cycle.1 }}<br>
            <b>Status:</b>
                {% if cycle.2 == 0 %}
                    Free
                {% elif cycle.2 == 1 %}
                    Reserved
                {% endif %}
            <br>
            <b>Rating: </b>{{ cycle.3 }}<br>
            <b>Fare per day: </b> {{ cycle.4 }}<br>
            <b>Owner: </b>{{ cycle.5 }}<br>
        </div>
    {% endfor %}
{% endblock %}