{% extends 'core/base.html' %}

{% block title %}
Cycle List | Admin
{% endblock %}

{% block label %}
Cycles
{% endblock %}

{% block content %}

<table class="table table-hover table-dark" style="border-radius: 10px;">

    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Cycle ID</th>
            <th scope="col">Model</th>
            <th scope="col">Fare/Day (BDT)</th>
        </tr>
    </thead>
    <tbody>
        {% for row in list %}

        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td><a href="{% url 'cycle-details-view' cycle_id=row.0 %}" target="_blank">{{ row.0 }}</a></td>
            <td>{{ row.1 }}</td>
            <td>{{ row.2 }}</td>
        </tr>

        {% endfor %}
    </tbody>

</table>

{% endblock %}