{% extends 'core/base.html' %}

{% block title %}
Owner List | Admin
{% endblock %}

{% block label %}
Owners
{% endblock %}

{% block content %}

<table class="table table-hover table-dark" style="border-radius: 10px;">

    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Owner ID</th>
            <th scope="col">Name</th>
            <th scope="col">Phone No.</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        {% for row in list %}

        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td><a href="{% url 'owner-details-view' owner_id=row.0 %}" target="_blank">{{ row.0 }}</a></td>
            <td>{{ row.1 }}</td>
            <td>{{ row.2 }}</td>
            <td>{{ row.3 }}</td>
        </tr>

        {% endfor %}
    </tbody>

</table>

{% endblock %}