{% extends 'core/base.html' %}
{% load static %}
{% block title %}
    Admin | Trip List
{% endblock %}

{% block content %}
    {% for trip in trip_list %}
        <div>
            <b>Trip ID: </b>{{ trip.0 }} <br>
            <b>Start Time: </b>{{ trip.1 }} <br>
            <b>End Time: </b>{{ trip.2 }} <br>
            {% if trip.3 == 0 %}
                <b>Status: </b>Requested <br>
            {% elif trip.3 == 1 %}
                <b>Status: </b>Ongoing <br>
            {% elif trip.3 == 2 %}
                <b>Status: </b>Rejected <br>
            {% elif trip.3 == 3 %}
                <b>Status: </b>Completed <br>
            {% elif trip.3 == 4 %}
                <b>Status: </b>Reviewed <br>
            {% endif %}
            <b>Total Fare: </b>{{ trip.4 }}<br>
            <br>
            <br>
        </div>

    {% endfor %}
{% endblock %}