{% extends 'core/base.html' %}

{% block title %}
Trip List | Admin
{% endblock %}

{% block label %}
Trips
{% endblock %}

{% block content %}

<table class="table table-hover table-dark" style="border-radius: 10px;">

    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Trip ID</th>
            <th scope="col">Start Datetime</th>
            <th scope="col">End Datetime</th>
            <th scope="col">Total Fare (BDT)</th>
        </tr>
    </thead>
    <tbody>
        {% for row in list %}

            {% if row.3 == 1 %}
            <tr class="bg-warning">
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{% url 'trip-details-view' trip_id=row.0 %}" target="_blank">{{ row.0 }}</a></td>
                <td>{{ row.1 }}</td>
                <td>{{ row.2 }}</td>
                <td>{{ row.4 }}</td>
            </tr>
            {% elif row.3 == 2 %}
            <tr class="bg-danger">
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{% url 'trip-details-view' trip_id=row.0 %}" target="_blank">{{ row.0 }}</a></td>
                <td>{{ row.1 }}</td>
                <td>{{ row.2 }}</td>
                <td>{{ row.4 }}</td>
            </tr>
            {% else %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{% url 'trip-details-view' trip_id=row.0 %}" target="_blank">{{ row.0 }}</a></td>
                <td>{{ row.1 }}</td>
                <td>{{ row.2 }}</td>
                <td>{{ row.4 }}</td>
            </tr>
            {% endif %}

        {% endfor %}
    </tbody>

</table>

{% endblock %}