{% extends 'core/base.html' %}
{% load static %}

{% block title %}
Dashboard | Customer
{% endblock %}

{% block label %}
Dashboard
{% endblock %}

{% block content %}

<h3>Search Cycle</h3>
<div class="segment">
    <form action="{% url 'customer-dashboard-view' %}" method="POST">
        {% csrf_token %}

        <div class="form-row">
            <div id="map"></div>
        </div>

        <div class="form-group">
        </div>

        <div class="form-row">
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" name="preference" value="1">
                <label class="form-check-label" for="exampleCheck1">Show Nearby Cycles</label>
            </div>
        </div>

        <input type="hidden" id="lng" readonly="yes" name="longtitude">
        <input type="hidden" id="lat" readonly="yes" name="latitude">

        <button type="submit" class="btn btn-success" onclick="return checkMapLocation()">Find Cycle</button>
    </form>
</div>


{% if cycle_list %}
<h3>Search Results</h3>
<div class="segment">
    {% for cycle in cycle_list %}
    <div class="segment-item">
        <h3>
            #{{ cycle.0 }}
        </h3>
        <div class="chip-green">
            {{ cycle.8 }} km away
        </div>
        <div class="info-text">
            Owner Name: <a href="{% url 'owner-details-view' owner_id=cycle.4 %}" target="_blank">{{ cycle.3 }}</a><br>
            Fare Per Day: BDT {{ cycle.5 }}/day <br>
            Contact No: {{ cycle.6 }} <br>
        </div>
        <br>
        <div class="form-row">
            <img src="{% static cycle.7 %}" class="cycle-photo">
        </div>
        <div style="margin-top: 10px;">
            <a href="{% url 'request-cycle-view' cycle_id=cycle.0 %}"><button class="btn btn-warning">Request this cycle</button></a>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}


{% if requested_cycle_list %}
<h3>Requested Cycles</h3>
<div class="segment">
    {% for cycle in requested_cycle_list %}
    <div class="segment-item">

        <div>
            <a href="{% url 'cycle-details-view' cycle_id=cycle.6 %}" target="_blank"><h5>#{{ cycle.6 }}</h5></a>
        </div>
        
        <div class="info-text">
            Cycle Model: {{ cycle.5 }}<br>
            Start Datetime: {{ cycle.2 }}<br>
            End Datetime: {{ cycle.3 }}<br>
            Rate: BDT {{ cycle.4 }}/day<br>
        </div>

        <div class="form-row">
            <img src="{% static cycle.1 %}" class="cycle-photo">
        </div>

        <div style="margin-top: 10px;">
            <a href="{% url 'cancel-cycle-view' trip_id=cycle.0 %}"><button class="btn btn-warning">Cancel Cycle</button></a>
        </div>
    
    </div>
    {% endfor %}
</div>
{% endif %}


{% if ongoing_trip %}
<h3>Current Trip</h3>
<div class="segment">
    {% for trip in ongoing_trip %}
    <div class="segment-item">
        <div>
            <h4>Trip #{{ trip.0 }}</h4>
        </div>
        <div class="info-text">
            Start Datetime: {{ trip.1 }}<br>
            End Datetime: {{ trip.2 }}<br>
            Fare: BDT {{ trip.6 }}<br>
            Owner: <a href="{% url 'owner-details-view' owner_id=trip.3 %}" target="_blank">{{ trip.4 }}</a>
        </div>
        <div>
            <img class="cycle-photo" src="{% static trip.5 %}">
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}


{% if completed_trip %}
<h3>How was your recent trip?</h3>
<div class="segment">
    {% for trip in completed_trip %}
    <div class="segment-item">
        
        <div>
            <h5 class="id">#{{ trip.0 }}</h5>
        </div><br>

        <form action="{% url 'trip-feedback-view' trip_id=trip.0 %}" method="POST">
            {% csrf_token %}

            <div class="form-group">
                <label for="cycle_comment">Rate the cycle</label>
                <input type="range" min="1" max="5" name="cycle_rating" id="cycle_rating" class="form-control">
            </div>

            <div class="form-group">
                <label for="cycle_comment">How was the cycle?</label>
                <textarea class="form-control" id="cycle_comment" name="cycle_comment"></textarea>
            </div>
                
            <div class="form-group">
                <label for="owner_comment">Rate the owner</label>
                <input type="range" min="1" max="5" name="owner_rating" id="owner_rating" class="form-control">
            </div>

            <div class="form-group">
                <label for="owner_comment">How was the owner?</label>
                <textarea class="form-control" id="owner_comment" name="owner_comment"></textarea>
            </div>

            <button type="submit" class="btn btn-success">Submit Review</button>
        </form>

    </div>
    {% endfor %}
</div>
{% endif %}

{% endblock %}